<% @posts.each do |post| %>
    <div class="card mb-4 %>"
        <div class="card-body">
          <div class="card-body">
              <h5 class="card-title"><%= post.title -%></h5>
    
    <% if post.user %>
        <h6 class=card-subtitle mb-2 text-muted"><%= post.user.full_name %></h6>
    <% end %>
    
    <p class="card-text"><%= truncate post.body %></p>
    
    <%= link_to "Read more", post_path(post) %>
  </div>
</div>
<% end %>
